@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(to left top, purple, red );
    height: 1000px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0.8;
}
.active-bg{
background-color: aqua; !important
}
.player--0   {
    width: 400px;
    height: 500px;
    background-color: cadetblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 7;
}
.player--1 {
    width: 400px;
    height: 500px;
    background-color: cadetblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   z-index: 7;
}
.left-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.total-score--0 {
    color: rgb(194, 57, 80);
    font-size: 40px;
    margin-bottom: 200px;
}
.score-div { 
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    background-color: rgb(243, 57, 119);
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}
.score-div-text {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.current--0 {
    font-size: 30px;
    font-weight: bold;
}
.right-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.total-score--1 {
    color: rgb(194, 57, 80);
    font-size: 40px;
    margin-bottom: 200px;
}
.right-score-div { 
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    background-color: rgb(243, 57, 119);
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.right-score-div-text {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.current--1 {
    font-size: 30px;
    font-weight: bold;
}
.new-game{
    position: absolute;
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    z-index: 10;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: bold;
    top: 20px;
    cursor: pointer;
}

.roll-dice{
    position: absolute;
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    z-index: 10;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 170px;
    cursor: pointer;
}

.hold{
    position: absolute;
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    z-index: 10;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 80px;   
    cursor: pointer;
}
.dice-img, .dice-img-2, .dice-img-3, .dice-img-4, .dice-img-5, .dice-img-6 {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 5px;
    z-index: 10;
    top: 130px;
}
.dice-img img, .dice-img-2 img, .dice-img-3 img, .dice-img-4 img, .dice-img-5 img, .dice-img-6 img {
    width: 80px;
    border-radius: 5px;
}
@media screen and (max-width: 650px) {
    .new-game {
        padding: 5px 15px;
        font-size: 13px;
    }
    .roll-dice {
        padding: 5px 15px;
        font-size: 13px; 
        bottom: 200px; 
    }
    .hold {
        padding: 5px 15px;
        font-size: 13px;
    }
    .player--1 {
        width: 100%;
        padding: 0 0 20px 0;
    }
    .player--0 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .right-score-div {
        padding: 10px 30px;
        margin-bottom: 65px;
    }
    .score-div {
        padding: 10px 30px;
    }
    .score-div-text { 
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: bold;
    }
    .right-score-div-text {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .current--0 {
        font-size: 20px;
    }
    .current--1 {
        font-size: 20px;
    }
    .right-title {
        font-size: 20px;
        font-weight: bold;
    }
    .left-title {
        font-size: 20px;
    }
    .total-score--0 {
        font-size: 30px;
    }
    .total-score--1 {
        font-size: 30px;
    }
}